## Q1. What are the characteristics of the tuples? Is tuple immutable?

##### Ans - Tuple items are ordered, unchangeable, and allow duplicate values. Tuple items are indexed, the first item has index [0] , the second item has index [1] etc.
##### Tuples are immutable. Hence they are primarily used to store data that doesn't change frequently.

## Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why  tuples have only two in-built methods as compared to Lists.

In [11]:
#### Ans. - Index and Count only these two tuple method are available in python.
## For example - 
t = (1,2,3,4,5,1,1,1,3,4,5)

In [12]:
t.count(1)

4

In [18]:
t.index(2)

1

In [13]:
name=('Anchal','Ayush','Shanu','Swati')

In [14]:
name.count('Anchal')

1

In [15]:
name.index('Ayush')

1

In [16]:
name.index('Shanu')

2

In [3]:
## Q3.  Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove  duplicates from the given list. 
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [1]:
## Set datatypes in python do not allow duplicates items

In [7]:
List

[1,
 1,
 1,
 2,
 1,
 3,
 1,
 4,
 2,
 1,
 2,
 2,
 2,
 3,
 2,
 4,
 3,
 1,
 3,
 2,
 3,
 3,
 3,
 4,
 4,
 1,
 4,
 2,
 4,
 3,
 4,
 4]

In [12]:
Set=set(List)

In [13]:
Set

{1, 2, 3, 4}

#### Q4 - Explain the difference between the union() and update() methods for a set. Give an example of  each method.

#### update() adds all missing elements to the set on which it is called whereas set. union() creates a new set.

In [22]:
s1={5,6,7,8}

In [23]:
Set.union(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
Set

{1, 2, 3, 4, 5, 6, 7, 8}

In [30]:
s1

{5, 6, 7, 8}

In [31]:
s1.update(Set)

In [32]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

### Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

### The dictionary is an unordered collection that contains key:value pairs separated by commas inside curly brackets. Dictionaries are optimized to retrieve values when the key is known. The following declares a dictionary object.

In [36]:
d={'Name':'Anchal','Email':'Ak27','Mobile' : '123456789'}

In [37]:
print(type(d))

<class 'dict'>

### Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level  nested dictionary.

In [45]:
## Yes, we can creat a nested dictionary.Nesting Dictionary means putting a dictionary inside another dictionary.

In [48]:

Dict = { 'Dict1': {'name': 'Ali', 'age': '19'},
         'Dict2': {'name': 'Bob', 'age': '25'}}
print("\nNested dictionary -")
print(Dict)

Nested dictionary -
{'Dict1': {'name': 'Ali', 'age': '19'}, 'Dict2': {'name': 'Bob', 'age': '25'}}

## Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of  the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning'] 
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [49]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [50]:
dict1

{'language': 'Python', 'course': 'Data Science Masters'}

In [54]:
dict1['Topic'] = ['Python', 'Machine Learning' , 'Deep Learning']

In [55]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'Topic': ['Python', 'Machine Learning', 'Deep Learning']}

## Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display  these three view objects for the given dictionary. 
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

## The main view objects of dictionary in python are keys, values and items.

In [57]:
dict2 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [58]:
dict2

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [59]:
dict2.keys()

dict_keys(['Sport', 'Teams'])

In [60]:
dict2.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [61]:
dict2.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [62]:
dict2['Tournament']=('WTC', 'T20 WC', '50-50 WC')

In [63]:
dict2

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand'],
 'Tournament': ('WTC', 'T20 WC', '50-50 WC')}

In [64]:
dict.pop(Tournament)

NameError: name 'Tournament' is not defined